.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/journal
content/personal
content/media/
content/Clippings
content/Templates
content/Excalidraw
content/annotations
content/documents
*\.bak
*\.alt
\.*
